<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign Up To Test Drive</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

</div>
<div class="container">
  <h2>Test Drive Sign Up Form</h2>
  <form ng-submit="display()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="txtName" ng-model="txtName" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="txtEmail" ng-model="txtEmail" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="tel" id="txtPhone" ng-model="txtPhone" required>
    </div>
    <div class="form-group">
      <button type="submit">Sign Up</button>
    </div>
  </form>
</div>

</body>
</html>
